

<div ng-show="isFullscreen" class="big-image-container" id="fullscreen">

 <h1 style="float: right; margin-left:-25px; cursor:pointer"> <i class="glyphicon glyphicon-remove" ng-click="hideImage()"> </i></h1>
	<img src="{{currentPhoto.url}}" class="big-img"/>
</div>

<div style ="display:inline-block">

        <div ng-repeat=" photo in photoTemplates.photos" class=" photo-thumb-container" ng-hide="isFullscreen">
        <!-- <span class="photo-thumb-icon"> <i class="glyphicon glyphicon-fullscreen" ng-click="showImage(photo)" > </i></span> -->
        <img src="{{ photo.thumb}}" class="photo-thumb"   ng-click="showImage(photo)"/>
        </div>
</div>