
<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' style='border-radius: 10px; border-style: solid; border-width: 2px;'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content' ng-transclude></div>
        <div style="margin:0 auto 10px auto; width:70%">
	        <button ng-click="doSubmit()"> Submit </button>
	        <button class="button" ng-click="hideModal()"> Cancel </button>
        </div>
    </div>
</div>
