


<div class=" ">
    <!--   <div>

          guestFound: {{guestFound}}<br/>
          isValid: {{isValid(guest)}} <br/>
          guest: {{guest}} <br/>
          guestStatus: {{guest.status}} <br/>
          members: {{guest.members}} <br/>
      </div> -->

    <div class=" rsvp-container salmon ">
        <form name="myForm">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-offset-2 col-lg-offset-2">
                    <label for="guestName"> Guest: </label>
                    <input ng-show="!guestFound" class="guest-name" type="text" id="guestName" name="guestName" ng-model="guestSearch" ng-disabled="pruned.length ==1 " ng-change="searchForGuest()">
                    <label><span ng-model="guest.name" ng-show="guestFound"> {{guest.name}} </span> </label>
                    <div style=" border 1px solid; width:400px" ng-show="pruned.length >1 && pruned.length <8">
                        <div ng-repeat=" g in pruned" class="rsvp-select" ng-click="guestListClicked(g)">
                            <span class="rsvp-select-element">{{g.name}}</span><br>
                        </div>
                    </div>
                    <div class="row" ng-hide="!guestFound">

                        <div class="col-sm-4">
                            <label>
                                <input type="radio" ng-model="guest.status" value="attending" class="attendingRadio">
                                Attending
                            </label>
                            <label>
                                <input type="radio" ng-model="guest.status" value="declined">
                                Not attending
                            </label>
                            <br>
                        </div>

                    </div>


                    <div ng-repeat=" member in guest.members" class="memberEntry">
                        <label for="plusOne">Guest: {{member.name}} </label>
                        <!-- <input type="text" id="plusOne"  ng-disabled="true" name="plusOneName" ng-model="member.name"> -->
                        <!--<span name="plusOne" id="plusOne">{{plusOne}}</span>-->
                        <div class="row">
                            <div class="col-sm-4">

                                <label>
                                    <input type="radio" ng-model="member.status" value="attending">
                                    Attending
                                </label>
                                <label>
                                    <input type="radio" ng-model="member.status" value="declined">
                                    Not attending
                                </label><br />


                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="col-md-5 col-md-offset-2">
                            <button id="submitBtn" class="btn btn-primary submit-button" ng-click="submit()" ng-disabled="!isValid(guest)"> Submit </button>
                            <button class="btn btn-primary" ng-click="guest = {}; pruned = []; guestFound = false; guestSearch = ''"> Clear </button>


                        </div>

                    </div>
        </form>

    </div>
</div>
<modal-dialog show='modalShown' show-buttons="true" width='100px' on-submit-function='submittoapi' >
    <ul>
        <div ng-repeat="guestMessage in modalGuestMessges">
            <li style='list-style-type:none'><span>{{guestMessage}} </span></li>
        </div>
    </ul>
    {{modalMessage}}

</modal-dialog>
<modal-dialog show='showThankYou' width='100px'  show-buttons="false"  on-submit-function='closeModals'>
    {{thankYouMessage}}
    <div style="margin:20px auto 10px auto; width:50%">
        <button class="btn btn-primary" ng-click="closeModal()"> OK</button>
    </div>
</modal-dialog>
